{% extends 'blog/basic.html' %}
{% block title %}
AddBlog
{% endblock %}
{% block body %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="table-responsive">
        <table>
            {% for i in f %}
                <tr>
                <td><h3>{{ i.label_tag }}</h3></td>
                <td>{{ i }}</td>
                <td>{{ i.help_text }}</td>
                <td>{{ i.errors }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Add">
    </div>

</form>
{% endblock %}